body{
    background-color: #216869;
    color:white;
    display:flex;
    justify-content: center;
    text-align:center;
}
button{
    background-color: #49a078;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    margin: 4px 2px;
    border-radius:20px;
    box-shadow:gainsboro 0px 0.5px 0.5px;
}
input{
    border-width: 0px;
    border-radius:10px;
}
#courseList{
    background-color:#49a078;
    border-color:#dce1de;
    border-width:2px;
    border-style:solid;
    padding:10px;
    margin-bottom:15px;
    border-radius:10px;
    box-shadow: gainsboro 0px 2px 2px;
}
#coursename{
    font-size:20px;
    font-weight:bold;
}
@media (max-width:500px){

}

/* - Extended Array
{
    CarbonBlack:"#1f2421",
    Stormy Teal: "#216869",
    Seaweed:"#49a078",
    MutedTea:"#9cc5a1",
    AlabasterGrey:"#dce1de"
} */
